<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Responsive Blog Card Slider </title>
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        
        <img src="../images/softwares/wordpress.png" alt="Custom wordpress theme">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">Custom Theme</span>
        <div class="blog-slider__title">Wordpress Theme</div>
        <div class="blog-slider__text">Custom wordpress theme ,with different post type </div>
        <a href="https://wordpress.org/themes/" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="../images/softwares/cloud-server.png" alt="Cloud server">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">Servers</span>
        <div class="blog-slider__title">Cloud Servers</div>
        <div class="blog-slider__text">A high performance server , increased security ,No Temporary file , 90% Capacity</div>
        <a href="https://www.ibm.com/cloud/learn/cloud-server" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="../images/softwares/linux.png" alt="Linux system">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">Custom software</span>
        <div class="blog-slider__title">Linux  system</div>
        <div class="blog-slider__text">Custom linux software designed specifically for overload business</div>
        <a href="https://www.linux.com/what-is-linux/" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    
  </div>
  <div class="blog-slider__pagination"></div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script><script  src="./script.js"></script>

</body>
</html>
