<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web Development - ITIS 2413</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800'><link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <h1 class="title"></h1>
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=11)" data-year="HTML">
          <div class="swiper-slide-content"><span class="timeline-year">HTML</span>
            <h4 class="timeline-title">Hyber text markup language</h4>
            <p class="timeline-text">HTML web structure language , building the structure of website </p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=12)" data-year="CSS">
          <div class="swiper-slide-content"><span class="timeline-year">Css</span>
            <h4 class="timeline-title">Cascading Style Sheet</h4>
            <p class="timeline-text">To complete the way of website , design , way of presentation, animations , keyframes</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=13)" data-year="JS">
          <div class="swiper-slide-content"><span class="timeline-year">JS</span>
            <h4 class="timeline-title">Javascript</h4>
            <p class="timeline-text">Complete the functionality of website , interactive website , amazing design </p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=14)" data-year="BT">
          <div class="swiper-slide-content"><span class="timeline-year">BT</span>
            <h4 class="timeline-title">Bootstrap Framework</h4>
            <p class="timeline-text">Building amazing responsive websites , CMD icons , custom controls</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=15)" data-year="Anime.Js">
          <div class="swiper-slide-content"><span class="timeline-year">Animation Framework</span>
            <h4 class="timeline-title">Animation framework</h4>
            <p class="timeline-text">Anime.js it's framework used to animate the website for best design , like given the web some life</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=16)" data-year="Github">
          <div class="swiper-slide-content"><span class="timeline-year">GitHub</span>
            <h4 class="timeline-title">Github platform</h4>
            <p class="timeline-text">The platform of Information technology student's and peoples , save your work for future Github</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js'></script>
<script src="./script.js"></script>

</body>
</html>
